.zival {
  background-color: #55e6c1;
  padding: 10px;
}

.zival h2 {
  color: #6858b1;
  font-size: large;
  text-align: center;
  font-family:;
}

.zival p {
}

.zival img {
  border: 2px greenyellow;

  border: radius 50%;
}
